*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

:root{
    --background-color-primary: lightgrey;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    align-items: center;
    background-color: var(--background-color-primary);
}

#container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid black;
    row-gap: 10px;
    column-gap: 10px;
}

div{
    border: 1px solid black;
    width: calc(100% / 10 - 10px);
    text-align: center;
    padding: 10px;
}


